:root{
    --black: rgba(30,30,45,.7);
    --black-darker: #000000;
    --black-text: rgba(30,31,45,.7);
    --black-light: rgba(30,31,45,.2);
    --gray: #F6F4EF;
    --gray-lighter: rgba(246,244,239,.5);
    --white: #FFFFFF;
    --main: #D3C19F;
    --main-darker: #b5a381;
    --main-lighter: rgba(211,193,159,.5);
    --red: #AA3F44;
    --font-main: 'Merriweather';
    --font-headers: 'Barlow Condensed';
    --font-subheaders: 'Barlow Condensed';
}
::marker{
    color: transparent;
}
.navbar{
    padding: 0;
}
.navbar a{
    text-transform: uppercase;
    padding: 8px 18px 11px;
    /* margin: 0 10px; */
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.nav-icon i{
    font-size: 20px;
    color: var(--white);
    padding: 5px;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav {
    margin: 0 auto;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--main);
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 15px;
    font-family: var(--font-headers);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover, .nav-icon i:hover {
    color: var(--main);
}
.nav-item:hover i {
    transform: rotate(90deg);
}
.nav-item i{
    vertical-align: baseline;
    padding-left: 4px;
    transition: all 0.5s;
    display: inline-block;
}
.navbar .container{
    min-height: 100px;
    border-bottom: 1px solid gray;
}
.nav-icon ul{
    margin: 0;
}
.cartIcons ul li:first-child a i{
    font-size: 26px;
}
.cartIcons ul li{
    margin-right: 10px;
}
.navbar li{
    position: relative;
    font-size: 16px;
    transition: none;
    text-transform: uppercase;
    padding: 0;
    font-family: var(--font-headers);
    font-weight: 700;
}
.set-dropdown{
    margin-left: -75px;
}
.set-dropdown a{
    font-family:var(--font-headers);
    font-weight: 700;
    color: var(--main);
}
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--black);
    background-color: var(--main);
    border-radius: 12px;
}
.set-dropdown li{
    width: 250px;
    padding: 0 10px;
}
.navbar .dropdown-menu{
    margin-top: 12px;
}
#dropdownMenuLink:hover .dropdown-menu{
    display: block;
}
.bg-dark{
    background-color: transparent!important;
}
.carousel{
    margin-top: -100px;
    z-index: -1;
}
.blacklayer{
    z-index: -2;
}
.overlay{
    
    background-color:  rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.slider-b{
    transform: translateY(-100%);
    position: relative;
    z-index: 111;

}
.slider-b::after{
    background-color: black;
    opacity: 65%;
    content: '';    
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -111;
}
.slider-b .d-flex{
    padding: 50px 60px 70px;
    align-items: center;
}
.slider-b .d-flex img{
    margin-left: 60px;
}
.slider-b-col-text{
    margin-left: 20px;
    font-family: var(--font-main);
    font-size: 14px;
    position: relative;
    color: var(--white);
}
.slider-b-col-text::after{
    width: 1px;
    height: 150px;
    background-color: var(--gray-lighter);
    content: '';
    position: absolute;
    right: -61px;
    top: -21px;
    
}
.slider-b-col-text span{
font-size: 24px;
font-family: var(--font-headers);
color: var(--main-darker);
font-weight: 700;
}
.experience-part-b-text span{
    display: block;
    font-size: 24px;
    font-family: var(--font-headers);
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--red);

}
.experience-part-b-text span:first-child{
    font-size: 24px;
    font-family: var(--font-headers);
    font-weight: 700;
    color: var(--black-darker);
    margin-bottom: 0;
}
.experience-part-a span{
    font-size: 24px;
    font-family: var(--font-headers);
    color: var(--main-darker);
    font-weight: 700;
    margin-bottom: 6px;
}
.experience-part-a h2{
    font-size: 36px;
    font-family: var(--font-headers);
    color: var(--black-darker);
    font-weight: 700;
    margin-bottom: 16px;
}
.experience-part-a p{
    font-size: 14px;
    font-family: var(--font-main);
    color: var(--black);
    margin-bottom: 16px;
    max-width: 630px;
    height: 150px;
    line-height: 1.8em;
    margin-bottom: 40px;
    border-bottom: 1px black solid;
}
.button{
    padding: 18px 65px 22px;
    background-color: var(--main);
    color: var(--black-darker);
    font-weight: 700;
    font-size: 16px;
    font-family: var(--font-headers);
    text-decoration: none;
    height: 60px;
    border-radius: 50px;
    margin-left: 35px;
}
.experience-part-2 .tag{
    padding: 34px 20px;
    background-color: var(--red);
    top: 0;
    right: 126px;
    border-radius: 0 0 15px 15px;
    text-align: center;
    font-family: var(--font-headers);
    font-weight: 700;
}
.experience-part-2 .tag h5{
    font-weight: 700;
color: var(--main);
font-size: 18px;
line-height: 0.7;
}
.experience-part-2 .tag h5:first-child{
    color: var(--white);
    font-size: 24px;
}
.experience{
    margin-top: -100px;
    margin-bottom: 100px;
}
.container{
    width: 1540px;
}
.benifits{
    background-color: var(--gray);
}
.benefits-item{
    padding: 55px 30px 45px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 15px;
}
.benefits-item i{
    display: block;
    font-size: 60px;
color: var(--main-darker);

}
.benefits-item span{
    font-size: 24px;
    font-family: var(--font-headers);
    font-weight: 700;
    margin-top: 8px;
}
.benefits-item p{
    font-size: 14px;
    font-family: var(--font-main);
    color: var(--black);
    padding: 12px;
}
.benifits-heading{
    padding:100px 0;
}
.benefits-item-1{
    margin-right: 15px;
}





@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1570px;
    }
}