:root {
    --black: #1E1F2D;
    --black-darker: #000000;
    --black-text: rgba(30,31,45,.7);
    --black-light: rgba(30,31,45,.2);
    --gray: #F6F4EF;
    --gray-lighter: rgba(246,244,239,.5);
    --white: #FFFFFF;
    --main: #D3C19F;
    --main-darker: #b5a381;
    --main-lighter: rgba(211,193,159,.5);
    --red: #AA3F44;
    --font-main: 'Merriweather';
    --font-headers: 'Barlow Condensed';
    --font-subheaders: 'Barlow Condensed';
}
.navbar-expand-lg .navbar-nav{
    margin: 0 auto;
}
.navbar-dark .navbar-nav .nav-link{
    color: var(--white);
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0 15px;
    font-family: var(--font-headers);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: var(--main);
}
.nav-icon i{
    font-size: 20px;
    color: var(--white);
    padding: 5px;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}
.nav-item i{
    vertical-align: baseline;
    padding-left: 4px;
    transition: all 0.5s;
    display: inline-block;
}
.navbar-dark .navbar-nav .nav-link:hover, .nav-icon i:hover {
    color:var(--main);
}
.nav-item:hover i {
    transform: rotate(90deg);
}